body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;

}

.ha{
    font-family: 'Kalam', cursive ;
}

#xyz {
  background-color: black;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#xyz a{
  margin-top: 5px;
  font-size: larger;
}

#xyz a:hover { 
  color: white !important;
}

.navbar-brand img{
  filter: grayscale(100%);
  transition: filter 0.3s ;

}

.navbar-brand img:hover{
  filter: grayscale(0%);
  transition: filter 0.3s ;
}

.box{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  margin-right: 25px;
}

.box2{
  height: 100vh;
  width: 100%;
  background: url(/static/images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.vbox{
  width: 100%;
  min-height: 100px;
  position: relative;
}

.vbox video{
  width: 100%;
  height: 100%;
  position: absolute;
}

.vtext{
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px !important;
  font-weight: 900;
  mix-blend-mode: multiply;
}

.text-box{
  color: #fff;
  position: absolute;
  top: 60px;
}

.text-box h1{
  font-size: 11.5vw;
  line-height: 11vw;
  margin-left: 5px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/static/images/logos/back.png);
  -webkit-background-clip: text;
  background-position: 0 -40px;
  animation: back 10s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
@keyframes back{
  100%{
    background-position: 2000px -40px;
  }
}

.bton{
  border: transparent;
  cursor: pointer;
  display: inline-block;
  background: white;
  color: black;
  padding: 8px 25px;
  margin: 30px 10px;
  border-radius: 30px;
}

.bton:hover{
  text-decoration: none;
  background: black;
  color: white;
}

#j:hover{
  text-decoration: none;
  background: #bebcbc !important;
  color: #000 !important;
}

.inner-box{
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.4)
              0%, rgba(0,0,0,0.4) 25%, rgba(0,23,149,0.6) 50%,
              rgba(255,0,0,0.6) 75%, rgba(0,23,149,0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  transition: 2s;
}

.box2:hover .inner-box{
  background-position: 70% 50%;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.footer{
  background-color: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 10px 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  flex: 1;
  min-width:250px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
  filter: grayscale(100%);
}

.footer-col-2 img:hover{
  filter: grayscale(0%);
}

.footer-col-3 span:hover, .footer-col-4 span:hover{
  color: white;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.handles{
  font-size: 30px;
  margin-bottom: 10px;
}

.categories{
  margin: 30px;
}

.col-3{
  flex: 1;
  text-align: center;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  padding: 0 8px;
  width: 100%;
  max-width: 300px;
  height: 385px;
  transition: transform 0.5s;
}

.col-3 img:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.col-3 img:hover .under::after{
  width: 160px;
}


.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.under{
  font-size: 40px;
  text-align: center;
  color: black;
  font-weight: bolder;
  position: relative;
}

.under::after{
  content: '';
  width: 120px;
  height: 4px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background: orange;
  transition: width 0.3s;
}

.under:hover::after{
  width: 180px;
}

.imlink{
  position: relative;
}

.btext{
  position: relative;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding-top: 0px;
  transition: transform 0.5s;
}

.col-2 img:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

.jordan{
  background:  black;
  padding: 50px 0;
}

#features{
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/static/images/feature-background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#features .col-md-6{
  padding: 20px;
}

.feature-box{
  height: 120px;
}

.feature-box .feature-left{
  height: 120px;
  width: 20%;
  float: left;
}

.feature-box .feature-left .fas{
  padding-top: 13px;
  font-size: 50px;
}

.feature-box .feature-right{
  height: 120px;
  width: 80%;
  float: right;
}

.feature-box .feature-right h4{
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
}

.feature-box .feature-right p{
  padding-left: 15px;
  text-align: left;
}

.shead{
  font-weight: bolder;
  padding-left: 20px;
  color: #8a8a8a;
  text-align: center;
}

.col-4{
  flex: 1; 
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.col-4:hover{
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide{
  margin: 4px, 4px;
  padding: 20px;
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.slide img{
  width:300px;
  transition: transform 0.5s;
}

.slide img:hover{
  transform: translateY(-8px);
  cursor: pointer;
}

.col-m{
  margin: 20px;
  flex: 1; 
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-m img{
  width: 100%;
  min-height: 200px;
}

.col-m:hover{
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-z{
  padding: 10px;
  min-width: 300px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-z img{
  width: 100%;
  min-height: 200px;
}

.col-z:hover{
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid{
  transition: transform 0.5s;
}
.img-fluid:hover{
  cursor: pointer;
  transform: translateY(-10px);
}


/* LOGIN / SIGNUP */

.account-page{
  padding: 100px 0 50px 0;
  background-position:  center;
  background-size: cover;
  background-image: url("/static/images/nike_abstract.png");
  width: 100%;
  height: 1000px;
  position: relative;
  /*background: radial-gradient(#fff,#ffd6d6);*/
}

.form-container{
  background: linear-gradient(-45deg, rgba(0,0,0,0.4)
              0%, rgba(0,0,0,0.4) 25%, rgba(20, 81, 97, 0.6) 50%,
              rgba(0,0,0,0.4) 75%, rgba(0, 0, 0, 0.4) 100%);
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}
.form-container:hover{
  transform: translateY(-10px);
}

.under2{
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position: relative;
}

.under2::after{
  content: '';
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(74, 166, 189);
  transition: width 0.3s;
}

.under2:hover::after{
  width: 80px;
}

.form-btn{
  padding-bottom: 50px;
}

.form-container input{
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  color: rgb(0, 0, 0);
}
.form-container input:hover{
  background-color: rgb(196, 201, 202);
}
::placeholder {
  color: rgb(14, 13, 13);
  opacity: 0.4;
}
.cat_button{
  font-size: 20px;
  background-color: black;
  border: none;
  color: #2a2a2a; 
  padding-left: 20px;
}
.cat_button:hover{
  color: white;
}

.box3{
  background-color: black;
  margin: 80px 20px;
}

.col-p{
  flex: 1;
  text-align: center;
}

.product{
  transition: transform 0.5s;
  padding: 0px 0px;
  width: 335px;
  height: 380px;
  margin: 10px 0px;
}

.product:hover{
  cursor: pointer;
  transform: translateY(-10px);
}



.col-p3{
  flex: 1; 
  text-align: center;
  padding: 5px;
  min-width: 300px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-p3 img{
  width: 325px;
  height: 380px;
}

.col-p3:hover{
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}