body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;

}

.ha{
    font-family: 'Kalam', cursive ;
}

#xyz {
  background-color: black;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
#xyz a{
  margin-top: 5px;
  font-size: larger;
}

#xyz a:hover { 
  color: white !important;
}

.navbar-brand img{
  filter: grayscale(100%);
  transition: filter 0.3s ;

}

.navbar-brand img:hover{
  filter: grayscale(0%);
  transition: filter 0.3s ;
}

.box{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  margin-right: 25px;
}

.box2{
  height: 100vh;
  width: 100%;
  background: url(/static/images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.vbox{
  width: 100%;
  min-height: 100px;
  position: relative;
}

.vbox video{
  width: 100%;
  height: 100%;
  position: absolute;
}

.vtext{
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px !important;
  font-weight: 900;
  mix-blend-mode: multiply;
}

.text-box{
  color: #fff;
  position: absolute;
  top: 60px;
}

.text-box h1{
  font-size: 11.5vw;
  line-height: 11vw;
  margin-left: 5px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/static/images/logos/back.png);
  -webkit-background-clip: text;
  background-position: 0 -40px;
  animation: back 10s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
@keyframes back{
  100%{
    background-position: 2000px -40px;
  }
}

.bton{
  border: transparent;
  cursor: pointer;
  display: inline-block;
  background: white;
  color: black;
  padding: 8px 25px;
  margin: 30px 10px;
  border-radius: 30px;
}

.bton:hover{
  text-decoration: none;
  background: black;
  color: white;
}

#j:hover{
  text-decoration: none;
  background: #bebcbc !important;
  color: #000 !important;
}

.inner-box{
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.4)
              0%, rgba(0,0,0,0.4) 25%, rgba(0,23,149,0.6) 50%,
              rgba(255,0,0,0.6) 75%, rgba(0,23,149,0.6) 100%);
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  transition: 2s;
}

.box2:hover .inner-box{
  background-position: 70% 50%;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.footer{
  background-color: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 10px 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  flex: 1;
  min-width:250px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
  filter: grayscale(100%);
}

.footer-col-2 img:hover{
  filter: grayscale(0%);
}

.footer-col-3 span:hover, .footer-col-4 span:hover{
  color: white;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.handles{
  font-size: 30px;
  margin-bottom: 10px;
}

.categories{
  margin: 30px;
}

.col-3{
  flex: 1;
  text-align: center;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  padding: 0 8px;
  width: 100%;
  max-width: 300px;
  height: 385px;
  transition: transform 0.5s;
}

.col-3 img:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.col-3 img:hover .under::after{
  width: 160px;
}


.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.under{
  font-size: 40px;
  text-align: center;
  color: black;
  font-weight: bolder;
  position: relative;
}

.under::after{
  content: '';
  width: 100px;
  height: 4px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background: orange;
  transition: width 0.3s;
}

.under:hover::after{
  width: 160px;
}

.imlink{
  position: relative;
}

.btext{
  position: relative;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding-top: 0px;
}

.jordan{
  background:  black;
  padding: 50px 0;
}



