{% extends "layout.html" %}

{% block title %}
    Cart/Order Details
{% endblock %}

{% block main %}
<p style="margin-top: 80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis exercitationem quidem possimus molestiae ipsam quas. Dolor, architecto, ab et, maiores temporibus accusantium laudantium eius accusamus hic velit harum repellat qui.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quia sed impedit quasi laboriosam velit illum nulla quo sint deserunt! Odio consequatur dolores obcaecati veniam corporis omnis exercitationem ipsum. Provident!        
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus sunt est quisquam similique impedit id? Non laudantium error ducimus adipisci fuga corrupti natus reiciendis nihil qui esse, perferendis magnam nisi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione vel expedita. Architecto nesciunt blanditiis harum. Non delectus cupiditate aliquid aperiam impedit provident harum, enim quae modi laudantium, voluptatum doloribus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nemo eaque assumenda enim, repudiandae earum provident nesciunt, laboriosam ad asperiores obcaecati reiciendis ratione facilis at vel ducimus tempore, nam quia?
</p>
{{ orders }}
{{ cart[0] }}
<h1> hello</h1>

{% endblock %}