{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="box2">
    <div class="inner-box">    
        <div class="text-box">
            <h1>FIND YOUR<br>FAST</h1>
            <form action="/" method="post">
                <button style="margin-top: 5px;" class="bton sports" type="submit" name="clicked_button1" value="Sports">Explore Now &#10132;</button>
            </form>
        </div>  
    </div>
</div>

<!-- Categories Section ----------------------------------------------- -->   
<div class="categories">
    <div class="small-container">
        <h1 class="under">CATEGORIES</h1><br><br>
        <div class="row ha">
            <div class="col-3">
                <div class="imlink">
                <form action="/" method="post">
                    <button style="border: none; background-color: white;" type="submit" name="clicked_button1" value="Crocs"><img src="/static/images/cat1.jpg"></button>
                </form>
                <h3 class="btext">Crocs</h3>
                </div>
            </div>
            <div class="col-3">
                <form action="/" method="post">
                    <button style="border: none; background-color: white;" type="submit" name="clicked_button1" value="Sneakers"><img src="/static/images/cat2.jpg"></button>
                </form>
                <h3 class="btext">Sneaker</h3>
            </div>
            <div class="col-3">
                <form action="/" method="post">
                    <button style="border: none; background-color: white;" type="submit" name="clicked_button1" value="Sports"><img src="/static/images/cat3.jpeg"></button>
                </form>
                <h3 class="btext">Sport</h3>
            </div>
            
        </div>
    </div>
</div> 

<div class="col-m">
    <form action="/" method="post">
        <button  style="border: none; background-color: white; width: 100%; min-height: 200px;" type="submit" name="clicked2" value="Sports"><img src="/static/images/nike-just-do-it.jpg"></button>
    </form>
    <h1 style="text-align: center; color: #000; font-weight: bolder;">FAST RUNS IN THE FAMILY</h4>
    <p style="text-align: center;"><a href="#" style="color: white !important; background-color:black !important;" class="bton">Shop &#10132;</a></p>
</div>
<h2 style="padding-left: 30px; font-weight: lighter;">Trending</h4>
<hr style="margin: 0 30px; size: 100px;">
    <div class="slide">
    <div class="col-z">
        <a href="/productpage"><img class="imagel" src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg"></a>
        <h4>{{"/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg" | name }}</h4>
        <p>{{"/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg" | cost | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <a href="/productpage"><img class="imagel" src="/static/images/shoes/nikeSneakers/8888air-zoom-gtrun-basketball-shoes.jpeg"></a>
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="col-z">
        <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
        <h4>Product Name</h4>
        <p>{{1000 | rupee}}</p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>             
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</div>

<div class="vbox">
    <video autoplay loop muted>
        <source src="/static/Pexels Videos 1722882.mp4" type="video/mp4">
    </video>
    <div class="vtext">
        <h1 style="font-size: 58px;">JORDAN</h1>
    </div>
</div>

<div class="jordan">
    <div class="small-container" style="margin-top: -50px;">
        <div class="row">
            <div class="col-2">
                <p><br>Jordan Icons</p>
                <h1 style="font-size: 50px; color: #8a8a8a;" >Air Jordan <b>&#8549;</b> Retro</h1>
                <p><small>Victory validates the warrior's dedication.The design of the AJ VI silhouette was famously inspired by MJ’s German sportscar. It’s very essence conveyed speed and class, laden with touches like a neoprene sleeve, a translucent rubber sole and visible air.<br>Get yours now!</small></p>
                <form action="/" method="post">
                    <button class="bton" style="border: none;" type="submit" name="clicked_button1" value="Sneakers">Shop</button>
                </form>
            </div>
            <div class="col-2">
                <form action="/" method="post">
                    <button  style="border: none; background-color: black;" type="submit" name="clicked2" value="Sneakers"><img src="/static/images/1.jpg"></button>
                </form>
            </div>
        </div>
    </div>
</div>

<section id="features">
    <div class="container">
        <h2 class="shead"><span style="font-weight: bolder; font-size: larger;" class="ha">H&A</span> Sports Collection</h2>
        <div class="row">
            <div class="col-md-6">
                <form action="/" method="post">
                    <button  style="border: none; background-color: transparent;" type="submit" name="clicked3" value="Sports"><img src="/static/images/feature-shoe.png" width="100%" class="img-fluid"></button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="feature-box">
                    <div class="feature-left">
                        <i class="fas fa-futbol"></i>
                    </div>
                    <div class="feature-right">
                        <h4>Football</h4>
                        <p style="color: #8a8a8a;">Redesigned plate and refined materials make them one of the lightest shoes to date!</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="feature-left">
                        <i class="fas fa-dumbbell"></i>
                    </div>
                    <div class="feature-right">
                        <h4>Gym and Training</h4>
                        <p style="color: #8a8a8a;">Get to choose from a wide range of high intensity interval training shoes.</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="feature-left">
                        <i class="fas fa-basketball-ball"></i>
                    </div>
                    <div class="feature-right">
                        <h4>Basketball</h4>
                        <p style="color: #8a8a8a;">Bring some energy and attitude to all-day wearable basketball sneakers.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<div class="small-container">
    <h1 class="under">Featured Products</h1><br><br>
    <div class="row">
        <div class="col-4">
            <a href="/productpage"><img class = "imagel" src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg"></a>
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8555lebron-18-low-x-mimi-plange-daughters.jpg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="col-4">
            <img src="/static/images/shoes/nikeSneakers/8888air-zoom-gtrun-basketball-shoes.jpeg">
            <h4>Product Name</h4>
            <p>{{1000 | rupee}}</p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>             
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}