{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="box2">
    <div class="inner-box">    
        <div class="text-box">
            <h1>FIND YOUR<br>FAST</h1>
            <a href="#" class="bton">Explore Now &#10132;</a>
        </div>  
    </div>
</div>

<!-- Categories Section ----------------------------------------------- -->   
<div class="categories">
    <div class="small-container">
        <h1 class="under">CATEGORIES</h1><br><br>
        <div class="row ha">
            <div class="col-3">
                <div class="imlink">
                <a href="#"><img src="/static/images/cat1.jpg"></a>
                <h3 class="btext">Crocs</h3>
                </div>
            </div>
            <div class="col-3">
                <a href=""><img src="/static/images/cat2.jpg"></a>
                <h3 class="btext">Sneaker</h3>
            </div>
            <div class="col-3">
                <a href="#"><img src="/static/images/cat3.jpeg"></a>
                <h3 class="btext">Sport</h3>
            </div>
        </div>
    </div>
</div> 




<div class="vbox">
    <video autoplay loop muted>
        <source src="/static/Pexels Videos 1722882.mp4" type="video/mp4">
    </video>
    <div class="vtext">
        <h1 style="font-size: 58px;">JORDAN</h1>
    </div>
</div>
<div class="jordan">
    <div class="small-container" style="margin-top: -50px;">
        <div class="row">
            <div class="col-2">
                <p>Jordan Icons</p>
                <h1 style="font-size: 50px; color: #8a8a8a;" >Air Jordan <b>&#8549;</b> Retro</h1>
                <p><small>Victory validates the warrior's dedication.The design of the AJ VI silhouette was famously inspired by MJ’s German sportscar. It’s very essence conveyed speed and class, laden with touches like a neoprene sleeve, a translucent rubber sole and visible air.</small></p>
                <a id="j" href="#" class="bton" style="margin-left: 0px;">Shop</a>
            </div>
            <div class="col-2">
                <img width="100%;" src="/static/images/1.jpg" class="jordan-ex">
            </div>
        </div>
    </div>
</div>
 
<a href="#">Change password?</a>
{% endblock %}