{% extends "layout.html" %}

{% block title %}
    Product Details
{% endblock %}

{% block main %}
<div class="small-container" style="margin-top: 80px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-2">
            <img id="pim" src="#" width="100%">

        </div>
        <div class="col-2">
            <h4 id="category">Shoe</h4>
            <h2 id="name">Brand</h2>
            <h3 id="price"></h3>
            <form action="/productpage" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>           
        </div>
    </div>
</div>

<div class="small-container">
    <div class="row">
        <img id="pim1" src="#" width="100%">
        <img src="{{path}}">
    </div>
</div>

<script>
   
    document.addEventListener("DOMContentLoaded",function(){
    document.getElementById("pim").src = localStorage.getItem("source");
    document.getElementById("category").innerHTML = localStorage.getItem("category");
    document.getElementById("name").innerHTML = localStorage.getItem("name");
    document.getElementById("price").innerHTML = "Rs. " + localStorage.getItem("price");
    document.getElementById("pim1").src = localStorage.getItem("source1");
    });
 </script>
{% endblock %}