{% extends "layout.html" %}

{% block title %}
    Product Details
{% endblock %}

{% block main %}
<div class="small-container" style="margin-top: 90px;">
        <div class="row">
            {% for i in range(count) %}
            <div class="col-p3">
                <a href="/productpage"><img class = "imagel product" src=" {{ shoes[i]["name"] }} "></a>
                <h4>{{ shoes[i]["name"] | name }}</h4>
                <p>{{ shoes[i]["name"] | cost | rupee}}</p>
                {% if i%5 == 0 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>             
                    <i class="fas fa-star-half-alt"></i>
                </div>
                {% endif %}
                {% if i%5 == 2 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>                         
                    <i class="fas fa-star-half-alt"></i>
                </div>
                {% endif %}
                {% if i%5 == 1 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>                         
                    <i class="far fa-star"></i>
                </div>
                {% endif %}
                {% if i%5 == 3 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>             
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                {% endif %}
                {% if i%5 == 4 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>             
                    <i class="fas fa-star"></i>             
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
</div>

<h2 style="padding-left: 30px; font-weight: lighter;">You May Also Like</h4>
    <hr style="margin: 0 30px; size: 100px;">
        <div class="slide">
            {% for i in range(countad) %}
            
                {% if i%rando == 0 %}
                <div class="col-z">
                <a href="/productpage"><img class="imagel" src="{{shoead[i]["name"]}}"></a>
                <h4>{{ shoead[i]["name"] | name }}</h4>
                <p>{{ shoead[i]["name"] | cost | rupee}}</p>
                {% if i%5 == 0 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>             
                    <i class="fas fa-star-half-alt"></i>
                </div>
                {% endif %}
                {% if i%5 == 2 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>                         
                    <i class="fas fa-star-half-alt"></i>
                </div>
                {% endif %}
                {% if i%5 == 1 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>                         
                    <i class="far fa-star"></i>
                </div>
                {% endif %}
                {% if i%5 == 3 %}
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>             
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                {% endif %}
            </div>
            {% endif %}
            
            {% endfor %}

        </div>
<script>
   



   /* document.addEventListener("DOMContentLoaded",function(){
    document.getElementById("pim").src = localStorage.getItem("source");
    document.getElementById("category").innerHTML = localStorage.getItem("category");
    document.getElementById("name").innerHTML = localStorage.getItem("name");
    document.getElementById("price").innerHTML = "Rs. " + localStorage.getItem("price");
    document.getElementById("pim1").src = localStorage.getItem("source1");
    });
    */
 </script>
{% endblock %}